APP_ENV=development

APP_HTTP_PORT=:8080
APP_HTTP_READ_TIMEOUT=10s
APP_HTTP_WRITE_TIMEOUT=10s
APP_HTTP_IDLE_TIMEOUT=60s
APP_HTTP_SHUTDOWN_TIMEOUT=8s

APP_POSTGRES_CONNECTION_URL=postgres://postgres:1@pg-local:5432/postgres?sslmode=disable

APP_LOGGING_LEVEL=debug